<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212152063468-p0d73ulliti0af9n4pj5ktna5mh6l8nu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212152063468-p0d73ulliti0af9n4pj5ktna5mh6l8nu</string>
	<key>API_KEY</key>
	<string>AIzaSyCtYwN2JHf85rvTeYuZfnak9JTxyyY7GQI</string>
	<key>GCM_SENDER_ID</key>
	<string>212152063468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frevou.firebase</string>
	<key>PROJECT_ID</key>
	<string>react-native-firebase-aa49c</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-firebase-aa49c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212152063468:ios:d4e7c7e00879df05f51cc9</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-firebase-aa49c.firebaseio.com</string>
</dict>
</plist>